<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="chinese" class="spi.Chinese">
   	   <!--依赖注入的两种形式：设置注入，构造注入-->
       <!--<property name="axe" ref="steelAxe" />       -->
       <constructor-arg ref="stoneAxe" />
    </bean>
    <bean id="stoneAxe" class="spi.StoneAxe" />
    <bean id="steelAxe" class= "spi.SteelAxe"></bean>
</beans>